.cheep-editor-modal
{
    align-items: flex-start;
    box-sizing: border-box;

    .editor-modal-form
    {
        flex: 1 1 278px;
        min-height: 0;
        max-height: 100%;
    }

    .modal-body
    {
        position: relative;
        top: 5vh;
        max-height: 90vh;

        .modal-form-body
        {
            gap: 0;
            padding: 0;
        }
    }
}

@media (min-height: 309px)
{
    .cheep-editor-modal
    {
        .editor-modal-form
        {
            flex: 1;
        }
    }
}

@media (max-width: 650px)
{
    .cheep-editor-modal
    {
        .modal-body
        {
            top: 0;
            max-height: 100vh;
        }
    }
}

@media (max-height: 278px) and (max-width: 650px)
{
    .cheep-editor-modal
    {
        align-items: stretch;
    }
}