@use "../../colors.scss" as Color;

.cheep
{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 16px 8px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid Color.$gray2;
    cursor: pointer;
    transition: background-color 0.2s;

    .cheep-picture
    {
        flex: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cheep-body
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;

        .cheep-header
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            font-size: 15px;

            .header-picture-container
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                width: 20px;
                height: 20px;
                border-radius: 1000px;
                overflow: hidden;
            }

            .author-name
            {
                font-weight: 700;
                text-decoration: none;
                color: Color.$blackText;
            }

            .author-name:hover
            {
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }

            .author-handle,
            .cheep-date
            {
                text-decoration: none;
                color: Color.$silverText;
            }

            .cheep-date:hover
            {
                text-decoration: underline;
            }
        }

        .cheep-content
        {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .content-text
            {
                font-size: 15px;
                color: Color.$blackText;
            }

            .show-thread
            {
                font-size: 15px;
                color: Color.$blue1;
            }

            .interaction-container
            {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                margin-top: -8px;
                margin-left: -8px;
                overflow: hidden;
                height: 35px;

                .interaction-button-container
                {
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    flex: 1;
                }
            }

            .sub-container
            {
                border: 1px solid Color.$gray1;
                border-radius: 16px;
                overflow: hidden;
            }
        }
    }
}

.cheep:hover
{
    background-color: Color.$gray4;
    transition: background-color 0.2s;
}

.cheep.quote-form
{
    padding: 0;
    
    .cheep-body
    {
        .cheep-header
        {
            padding: 10px 10px 0 10px;
        }

        .cheep-content
        {
            padding: 0 10px 10px 10px;
        }

        .sub-container
        {
            border: none;
            border-radius: 0;
        }
    }
}

.cheep.quote-form:hover
{
    background-color: Color.$gray5;
    transition: background-color 0.2s;
}