.sparrow
{
    display: flex;
    justify-content: stretch;
    min-height: 100vh;
    background-color: #fff;

    .sparrow-content
    {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 0;

        .navigation-container
        {
            flex: 1 1;
            min-width: 68px;
            max-width: 78px;
        }
    }
}

@media (min-width: 1022px) and (max-width: 1041px)
{
    .sparrow
    {
        .sparrow-content
        {
            .navigation-container
            {
                flex: 1 1 68px;
                max-width: 68px;
            }
        }
    }
}