$blue1: #00ACF4;
$blue2: #1A8CD8;

$black1: #0F1419;
$black2: #272C30;

$gray2: #EFF3F4;
$gray3: #E7E7E8;

$silver: #CFD9DE;
$silverText: #536471;

$blackText: #0f1419;

$whiteText: #fff;