$blue1: #1D9BF0;
$blue2: #1A8CD8;
$blue3: #8ecdf7;
$blue4: #E1EEF6;

$black1: #0F1419;
$black2: #272C30;

$gray1: #CFD9DE;
$gray2: #EFF3F4;
$gray3: #E7E7E8;

$silver: #CFD9DE;
$silverText: #536471;

$blackText: #0f1419;

$whiteText: #fff;

$red1: #F4212E;

$pink1: #F91880;
$pink2: #F7E0EB;

$green1: #00BA7C;
$green2: #DEF1EA;